body{
  margin: 0;
  padding: 0;
}
#canvas{
	border-style: solid;
	border-width: 1px;
	border-color: #828282;
	border-radius: 3px;
}

#panelContiner{
	float: right;
}

#panel{
	width: 220px;
	margin-right: 10px;
}

.flat{
	//width: 120px;
	height: 40px;
	line-height: 40px;
	margin: auto;
	background: #3498db;
	border-style: solid;
	border-width: 1px;
	border-color: #2980b9;
	font-weight: 700;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	color: #FFFFFF;
}

#finishButton{
	background: #2ecc71;
	border-color: #27ae60;
	display: none;
}

#prompt{
	width: calc(100% - 40px);
	height: 40px;
	margin-left: 20px;
	line-height: 40px;
	display: none;
	font-size: 20px;
}

#mousePos{
	width: 60px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
}

#genGcode{
	margin-bottom: 5px;
}

#zVal{
	width: 30px;
}

.green{
	background: #2ecc71;
	border-color: #27ae60;
}
